$color-text: #777;
$color-primary: #58e1c1;
$color-accent: #51ddfc;
$white: #fff;
$image-border:#ccc;
$button-error: #e4757a;
$button-info: #927bc1;
$button-success: #63cc82;
$button-warning: #fd7856;
$lg: 768px;